body {
  background: rgba(200,200,200,.1);
}

h1 {
	text-align: center;
	font-family: helvetica;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	font-size: 3em;
	margin-top: 10px;
}

p {
	text-align: center;
	font-family: helvetica;
	color: #aaa;
	font-size: 12px;
}

.window {
  margin: 0 auto;
	margin-top: 15px;
  height: 150px;
  width: 200px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px 1px rgba(0,0,0,.1);
  box-shadow: 0 3px 5px 1px rgba(0,0,0,.1);
  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 150px;
    background: rgba(230,230,230,.3);
    z-index: 999;
    margin-left:100px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20px;
    background: #e3e3e3;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .button {
    height: 7px;
    width: 7px;
    position: absolute;
    background: #A60303;
    z-index: 999;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 6px;
    margin-left: 10px;
    &::before {
      content: "";
      height: 7px;
      width: 7px;
      position: absolute;
      background: #F2CB05;
      z-index: 999;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin-left: 10px;
    }
    &::after {
      content: "";
      height: 7px;
      width: 7px;
      position: absolute;
      background: #098429;
      z-index: 999;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin-left: 20px;
    }
  }
  .display {
    position: absolute;
    color: #A60303;
    z-index: 999;
    font-family: helvetica;
    font-size: 75px;
    margin-left:78px;
    margin-top: 40px;
    font-weight: bold;
    &::before {
      content: "{";
      position: absolute;
      color: #c3c3c3;
      margin-left: -50px;
      font-size: 90px;
      margin-top: -15px;
    }
    &::after {
      content: "}";
      position: absolute;
      color: #c3c3c3;
      margin-left: 15px;
      font-size: 90px;
      margin-top: -15px;
    }
  }
}

  .inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
  }
}

// =========

.four-wrapper {
  position: relative;
  width: $digitWidth;
  height: $digitHeight;
  margin: 12px;
  
  .leg-1 {
    @include gradient(to right);
    width: 210px;
    height: $legHeight;
    overflow: hidden;
    position: absolute;    
    top: 44px;
    left: 0;
    border-radius: 35px;    
    transform-origin: 50% 100%;    
    transform: rotate(-50deg);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    z-index: 3;
  }
  
  .leg-2 {
    @include gradient(to right);
    width: 100%;
    height: $legHeight;
    overflow: hidden;
    position: absolute;    
    top: 113px;
    left: 0;
    border-radius: 35px;
    z-index: 1;
    
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;    
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    &::before {
      width: 30px;
      height: 80px;
      transform: rotate(50deg);
      left: 50px;
      top: -15px;      
    }
    
    &::after {
      width: 30px;
      height: 100%;
      transform: skew(-15deg);
      left: 88px;
      top: 0;      
    }
  }
  
  .leg-3 {
    @include gradient(to top);    
    width: $legHeight;    
    height: 235px;
    overflow: hidden;
    position: absolute;    
    top: 0;
    left: 95px;
    border-radius: 35px;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;    
      background-color: rgba(0, 0, 0, 0.05);
    }
    
    &::before {
      width: 30px;
      height: 100%;
      transform: rotate(25deg);       
    }
    
    &::after {
      top: -30px;
      width: 25px;
      height: 100%;
      transform: rotate(50deg);       
    }
  }
}

.zero-wrapper {
  @include gradient(45deg);
  position: relative;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, .2) inset;
  margin: 12px;
  
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }
    
  &::before {
    top: 40%;
    left: 33px;
    width: 104px;
    height: 60%;
    transform: rotate(35deg);  
    background-color: rgba(0, 0, 0, .05);
  }
  
  &::after {
    top: -60px;
    left: -5px;
    width: 60%;
    height: 110%;
    background-color: rgba(255, 255, 255, .1);
    transform: rotate(45deg);
  }  
  
  .zero-wrapper__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: round(235px / 2.25);
    height: round(235px / 2.25);
    background-color: $bgColor;
    border-radius: 50%;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, .2);
    z-index: 2;
  }
}
