#aboutme-section {
  font-size: 19px;
}

.about-text {
  position: relative;
  margin-left: 30px;
}

.about-icon {
  font-size: 24px;
  position: absolute;
  left: -40px;
  margin-top: 5px;
}

#aboutme-section p:last-child {
  margin-bottom: 0;
}

#contactme-section {
  font-size: 19px;
  margin-top: 60px;
}

#contactme-section h1 {
  font-size: 50px;
}

#contact-form p {
  margin-bottom: 10px;
}

#contact-form .form-control {
  margin-bottom: 15px;
}

#paypalbtn {
  text-align: center;
}

#paypalbtn a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: arial;
}
