.jumbotron-main {
  color: white;
  background-color: black;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.lab-photo {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%),
    url("/DavidHeld_files/rpad group pic - Aug 2020 - fix.png") no-repeat center center;
  background-size: contain;
  background-color: black;
  min-height: 550px;
  /* padding-top: 8%; */
  position: relative;
}

.main-news {
  height: 500px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)
}

.main-highlights {
  height: 500px;
}

.text-center {
  text-align: center;
}

.footer-logo {
  height: 75px;
}

.footer-logo img {
  height: inherit;
}

.member-col {
  height: 300px
}

.member-col img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
