.header-section.has-img .no-img {
  margin-top: 0;
  background: #FCFCFC;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #AAA;
}
@media only screen and (max-width: 365px) {
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }
}
.index-posts-title {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 38px;
}
@media only screen and (min-width: 768px) {
  .index-posts-title {
    margin-top: 10px;
    font-size: 45px;
  }
}