/* local styles for tx10indivisible.us */

.pretty_box {
  border: solid #e0e0e0 1px;
  background: #e8e8e8;
  border-radius: 15px;
  padding: 5px 10px;
}

#email_signup {
  width: 240px;
}

#email_signup #can_embed_form { padding-bottom: 1em; }
#email_signup #can_embed_form #can_embed_form_inner h2 { font-size: 18px; line-height: 1.1em; text-align: center; padding-top: 0.5em }
#email_signup #can_embed_form #can_embed_form_inner h4 { display: none; }
#email_signup #can_embed_form .country_wrap { display: none; }
#email_signup #can_embed_form #d_sharing { border: none !important; }
#email_signup #can_embed_form input[type="submit"] { margin-bottom: 0; }
#email_signup #can_embed_form #action_info { display: none; }
#email_signup #can_embed_form #can_embed_form_inner #d_sharing { display: none; }

