/**
 * Syntax highlighting styles inspired by Atom's One Dark theme
 */
.highlight {
    background: #282C34; color: #f9f7f3;
    .lineno { color: #4B5363;}
}

.highlight  .c     { color: #667689; font-style: italic }
.highlight  .err   { color: #a61717; background-color: #e3d2d2 }
.highlight  .k     { font-weight: bold }
.highlight  .o     { font-weight: bold }
.highlight  .n     { color: #f9f7f3 } /* Name */
.highlight  .cm    { color: #667689; font-style: italic }
.highlight  .cp    { color: #ABB2BF; }
.highlight  .c1    { color: #667689; font-style: italic }
.highlight  .cs    { color: #667689; font-weight: bold; font-style: italic }
.highlight  .gd    { color: #000; background-color: #fdd }
.highlight  .gd .x { color: #000; background-color: #faa }
.highlight  .ge    { font-style: italic }
.highlight  .gr    { color: #a00 }
.highlight  .gh    { color: #999 }
.highlight  .gi    { color: #000; background-color: #dfd }
.highlight  .gi .x { color: #000; background-color: #afa }
.highlight  .go    { color: #888 }
.highlight  .gp    { color: #555 }
.highlight  .gs    { font-weight: bold }
.highlight  .gu    { color: #aaa }
.highlight  .gt    { color: #a00 }
.highlight  .k     {color:  #C678DD; font-weight: normal;}
.highlight  .kn     {color:  #C678DD; font-weight: normal;}
.highlight  .kc    { font-weight: bold }
.highlight  .kd    { color: #C678DD; }
.highlight  .kp    { font-weight: bold }
.highlight  .kr    { color: #C678DD; }
.highlight  .kt    { color: #458; font-weight: bold }
.highlight  .m     { color: #64B6C3 }
.highlight  .p     {color: #ABB2BF;}
.highlight  .s     { color: #98C379 }
.highlight  .na    { color: #D19A66; }
.highlight  .nb    { color: #D19A66; }
.highlight  .nc    { color: #CD9A61; }
.highlight  .nd    { color: #519F50; }
.highlight  .no    { color: #008080 }
.highlight  .ni    { color: #800080 }
.highlight  .ne    { color: #6CAFF2; font-weight: bold }
.highlight  .nf    { color: #6CAFF2; }
.highlight  .nn    { color: #F9F7F3 }
.highlight  .nt    { color: #D86C74 }
.highlight  .nv    { color: #008080 }
.highlight  .nx    { color: #D19A66;}
.highlight  .ow    { font-weight: bold }
.highlight  .w     { color: #bbb }
.highlight  .mf    { color: #099 }
.highlight  .mh    { color: #099 }
.highlight  .mi    { color: #099 }
.highlight  .mo    { color: #099 }
.highlight  .sb    { color: #d14 }
.highlight  .sc    { color: #d14 }
.highlight  .sd    { color: #d14 }
.highlight  .s2    { color: #98C379; }
.highlight  .se    { color: #d14 }
.highlight  .sh    { color: #d14 }
.highlight  .si    { color: #d14 }
.highlight  .sx    { color: #d14 }
.highlight  .sr    { color: #009926 }
.highlight  .s1    { color: #98C379; }
.highlight  .ss    { color: #990073 }
.highlight  .bp    { color: #999 }
.highlight  .vc    { color: #008080 }
.highlight  .vg    { color: #008080 }
.highlight  .vi    { color: #008080 }
.highlight  .il    { color: #099 }
