/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight pre { background-color: #002b36; color: #93a1a1 }
.highlight pre .lineno { color: #586e75 } /* Line Numbers */
.highlight pre .c { color: #586e75 } /* Comment */
.highlight pre .err { color: #93a1a1 } /* Error */
.highlight pre .g { color: #93a1a1 } /* Generic */
.highlight pre .k { color: #859900 } /* Keyword */
.highlight pre .l { color: #93a1a1 } /* Literal */
.highlight pre .n { color: #93a1a1 } /* Name */
.highlight pre .o { color: #859900 } /* Operator */
.highlight pre .x { color: #cb4b16 } /* Other */
.highlight pre .p { color: #93a1a1 } /* Punctuation */
.highlight pre .cm { color: #586e75 } /* Comment.Multiline */
.highlight pre .cp { color: #859900 } /* Comment.Preproc */
.highlight pre .c1 { color: #586e75 } /* Comment.Single */
.highlight pre .cs { color: #859900 } /* Comment.Special */
.highlight pre .gd { color: #2aa198 } /* Generic.Deleted */
.highlight pre .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
.highlight pre .gr { color: #dc322f } /* Generic.Error */
.highlight pre .gh { color: #cb4b16 } /* Generic.Heading */
.highlight pre .gi { color: #859900 } /* Generic.Inserted */
.highlight pre .go { color: #93a1a1 } /* Generic.Output */
.highlight pre .gp { color: #93a1a1 } /* Generic.Prompt */
.highlight pre .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
.highlight pre .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight pre .gt { color: #93a1a1 } /* Generic.Traceback */
.highlight pre .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight pre .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight pre .kn { color: #859900 } /* Keyword.Namespace */
.highlight pre .kp { color: #859900 } /* Keyword.Pseudo */
.highlight pre .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight pre .kt { color: #dc322f } /* Keyword.Type */
.highlight pre .ld { color: #93a1a1 } /* Literal.Date */
.highlight pre .m { color: #2aa198 } /* Literal.Number */
.highlight pre .s { color: #2aa198 } /* Literal.String */
.highlight pre .na { color: #93a1a1 } /* Name.Attribute */
.highlight pre .nb { color: #B58900 } /* Name.Builtin */
.highlight pre .nc { color: #268bd2 } /* Name.Class */
.highlight pre .no { color: #cb4b16 } /* Name.Constant */
.highlight pre .nd { color: #268bd2 } /* Name.Decorator */
.highlight pre .ni { color: #cb4b16 } /* Name.Entity */
.highlight pre .ne { color: #cb4b16 } /* Name.Exception */
.highlight pre .nf { color: #268bd2 } /* Name.Function */
.highlight pre .nl { color: #93a1a1 } /* Name.Label */
.highlight pre .nn { color: #93a1a1 } /* Name.Namespace */
.highlight pre .nx { color: #93a1a1 } /* Name.Other */
.highlight pre .py { color: #93a1a1 } /* Name.Property */
.highlight pre .nt { color: #268bd2 } /* Name.Tag */
.highlight pre .nv { color: #268bd2 } /* Name.Variable */
.highlight pre .ow { color: #859900 } /* Operator.Word */
.highlight pre .w { color: #93a1a1 } /* Text.Whitespace */
.highlight pre .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight pre .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight pre .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight pre .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight pre .sb { color: #586e75 } /* Literal.String.Backtick */
.highlight pre .sc { color: #2aa198 } /* Literal.String.Char */
.highlight pre .sd { color: #93a1a1 } /* Literal.String.Doc */
.highlight pre .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight pre .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight pre .sh { color: #93a1a1 } /* Literal.String.Heredoc */
.highlight pre .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight pre .sx { color: #2aa198 } /* Literal.String.Other */
.highlight pre .sr { color: #dc322f } /* Literal.String.Regex */
.highlight pre .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight pre .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight pre .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight pre .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight pre .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight pre .il { color: #2aa198 } /* Literal.Number.Integer.Long */
