/*
.highlight {
  counter-reset: line-numbering;
  white-space: pre;
  overflow: auto;
  overflow-x: scroll;
  word-break: inherit;
  word-wrap: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  background: #343642;
  color: #C1C2C3;
}
*/

/**
 * Syntax highlighting styles inspired by Atom's One Dark theme
 */
.highlight {
    background: #282C34; //DONE
    .lineno { color: #4B5363;}

    .c     { color: #667689; font-style: italic } // Comment
    .err   { color: #a61717; background-color: #e3d2d2 } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #667689; font-style: italic } // Comment.Multiline
    .cp    { color: #ABB2BF; } // Comment.Preproc
    .c1    { color: #667689; font-style: italic } // Comment.Single
    .cs    { color: #667689; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
    .k     {color:  #ABB2BF; font-weight: normal;}
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { color: #C678DD; } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { color: #C678DD; } // Keyword.Reserved
    .kt    { color: #458; font-weight: bold } // Keyword.Type
    .m     { color: #64B6C3 } // Literal.Number
    .p     {color: #ABB2BF;}
    .s     { color: #98C379 } // Literal.String
    .na    { color: #D19A66; } // Name.Attribute
    .nb    { color: #D19A66; } // Name.Builtin
    .nc    { color: #CD9A61; } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #6CAFF2; font-weight: bold } // Name.Exception
    .nf    { color: #6CAFF2; } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #D86C74 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .nx    { color: #D19A66;}
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: #099 } // Literal.Number.Float
    .mh    { color: #099 } // Literal.Number.Hex
    .mi    { color: #099 } // Literal.Number.Integer
    .mo    { color: #099 } // Literal.Number.Oct
    .sb    { color: #d14 } // Literal.String.Backtick
    .sc    { color: #d14 } // Literal.String.Char
    .sd    { color: #d14 } // Literal.String.Doc
    .s2    { color: #98C379; } // Literal.String.Double
    .se    { color: #d14 } // Literal.String.Escape
    .sh    { color: #d14 } // Literal.String.Heredoc
    .si    { color: #d14 } // Literal.String.Interpol
    .sx    { color: #d14 } // Literal.String.Other
    .sr    { color: #009926 } // Literal.String.Regex
    .s1    { color: #98C379; } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long
}
