.highlight {
  background-color: #272822;
}

.highlight .hll {
  background-color: #49483e;
}

.highlight .c {
  color: #a8a38d;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #66d9ef;
}

.highlight .l {
  color: #ae81ff;
}

.highlight .n {
  color: #f8f8f2;
}

.highlight .o {
  color: #f92672;
}

.highlight .p {
  color: #f8f8f2;
}

.highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  color: #a8a38d;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .kc, .highlight .kd {
  color: #66d9ef;
}

.highlight .kn {
  color: #f92672;
}

.highlight .kp, .highlight .kr, .highlight .kt {
  color: #66d9ef;
}

.highlight .ld {
  color: #e6db74;
}

.highlight .m {
  color: #ae81ff;
}

.highlight .s {
  color: #e6db74;
}

.highlight .na {
  color: #a6e22e;
}

.highlight .nb {
  color: #f8f8f2;
}

.highlight .nc {
  color: #a6e22e;
}

.highlight .no {
  color: #66d9ef;
}

.highlight .nd {
  color: #a6e22e;
}

.highlight .ni {
  color: #f8f8f2;
}

.highlight .ne, .highlight .nf {
  color: #a6e22e;
}

.highlight .nl, .highlight .nn {
  color: #f8f8f2;
}

.highlight .nx {
  color: #a6e22e;
}

.highlight .py {
  color: #f8f8f2;
}

.highlight .nt {
  color: #f92672;
}

.highlight .nv {
  color: #f8f8f2;
}

.highlight .ow {
  color: #f92672;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #ae81ff;
}

.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2 {
  color: #e6db74;
}

.highlight .se {
  color: #ae81ff;
}

.highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #e6db74;
}

.highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #f8f8f2;
}

.highlight .il {
  color: #ae81ff;
}

.highlight .gu {
  color: #75715e;
}

.highlight .gd {
  color: #f92672;
}

.highlight .gi {
  color: #a6e22e;
}

code {
  background-color: "#282C34";
  color: whitesmoke;
}

pre {
  background-color: "#282C34";
  color: whitesmoke;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {color:rgba(0,0,0,0.3);padding: 0 10px;-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */

