/* KEYFRAMES */
// Reference: https://codepen.io/Mark_Bowley/pen/mEtqj

#bubbleWrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* OBJECTS */

.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 18rem;
  position: absolute;
  width: 18rem;
}

/* ANIMATIONS */

@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 1s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 1s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 3s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 1.5s ease-in-out infinite alternate;

  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

// ----------- avt shape animation -------------
.ani-avt-shape {
  -webkit-animation: avtShape 4.5s 0.5s infinite;
  animation: avtShape 4.5s 0.5s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes avtShape {
  0% {
    border-radius: 55% 30% 35% 60%/65% 40% 30% 30%;
  }
  40% {
    border-radius: 50%;
  }
  80% {
    border-radius: 30% 50% 35% 55%/40% 50% 50% 65%;
  }
  100% {
    border-radius: 55% 30% 35% 60%/65% 40% 30% 30%;
  }
}

@keyframes avtShape {
  0% {
    border-radius: 55% 30% 35% 60%/65% 40% 30% 30%;
  }
  40% {
    border-radius: 50%;
  }
  80% {
    border-radius: 30% 50% 35% 55%/40% 50% 50% 65%;
  }
  100% {
    border-radius: 55% 30% 35% 60%/65% 40% 30% 30%;
  }
}
