{% extends "base.html" %}

{% block content %}
<!-- Banner with last article -->
{% set last_article = articles|sort(attribute=date)|first %}
<section id="banner">
  <div class="content">
    <header>
      <h1>{{ last_article.title }}</h1>
      <p>{{ last_article.subtitle }}</p>
    </header>
    <p>
    {% if last_article.summary is defined %}
      {{ last_article.summary }}
    {% else %}
      {{ last_article.content|truncate(SUMMARY_LENGTH) }}
    {% endif %}
    </p>
    <ul class="actions">
      <li><a href="{{ last_article.url }}" class="button big">Lire la suite…</a></li>
    </ul>
    {# TODO make this part smaller #}
    <p>
      Publié le <time class="published" datetime="{{ last_article.date | strftime('%Y-%m-%d') }}">
        {{ last_article.date | strftime('%-d %b %Y') }}
      </time>
      par <a href="{{ last_article.author.url }}" class="author">
        <span class="name">{{ last_article.author }}</span>
        <img src="{{ SITEURL }}/theme/images/avatar.jpg" alt="" />
      </a>
    </p>
    {# TODO add tags here #}
  </div>

  <!-- Cover image -->
  <span class="image object">
    <a href="{{ last_article.url }}"><img src="{{ last_article.url }}{{ last_article.cover.img }}" alt="{{ last_article.cover.comment }}"></a>
  </span>
</section>

<!-- Section with all articles -->
<section>
  <header class="major">
    <h2>Tous les articles</h2>
  </header>
  <div class="posts">
  {% for article in articles_page.object_list %}
    <article>
      <!-- Cover image -->
      <a href="{{ article.url }}" class="image"><img src="{{ article.url }}{{ article.cover.img }}" alt="{{ article.cover.comment }}" /></a>

      <h3>{{ article.title }}</h3>
      <p>
      {% if article.summary is defined %}
        {{ article.summary }}
      {% else %}
        {{ article.content|striptags|truncate(SUMMARY_LENGTH) }}
      {% endif %}
      </p>
      <ul class="actions">
        <li><a href="{{ article.url }}" class="button">Plus…</a></li>
      </ul>
      {# TODO make this part smaller #}
      <p>
        Publié le <time class="published" datetime="{{ last_article.date | strftime('%Y-%m-%d') }}">
          {{ last_article.date | strftime('%-d %b %Y') }}
        </time>
        par <a href="{{ last_article.author.url }}" class="author">
          <span class="name">{{ last_article.author }}</span>
          {# TODO use gravatar here #}
          <img src="{{ SITEURL }}/theme/images/avatar.jpg" alt="" />
        </a>
      </p>
      {# TODO add tags here #}
    </article>
  {% endfor %}
  </div>
  <footer>
    <ul class="pagination">
    {% if dates_page.has_previous() %}
      <li><a href="/{{ dates_previous_page.url }}" class="button">Plus récents</a></li>
    {% else %}
      <li><a href="" class="button disabled">Plus récents</a></li>
    {% endif %}

    {% if articles_page.has_next() %}
      <li><a href="/{{ dates_next_page.url }}" class="button">Plus anciens</a></li>
    {% else %}
      <li><a href="" class="button disabled">Plus anciens</a></li>
    {% endif %}
    </ul>
  </footer>
</section>
{% endblock %}