<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ .Site.Params.organizationName }}",
  "url": "{{ .Site.BaseURL }}"
  {{ with .Site.Params.socialProfiles }}, "sameAs": {{ . }}{{ end }}
  {{ with .Site.Params.organizationLogo }}, "logo": "{{ . }}"{{ end }}
  {{ with .Site.Params.organizationAddress }}, "address": "{{ . }}"{{ end }}
  {{ with .Site.Data.organization.contacts.contactPoint }}, "contactPoint": {{ . }}{{ end }}
}
</script>