<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>DGtal</string>
     <key>CFBundleIdentifier</key>
     <string>org.dgtal</string>
     <key>CFBundleVersion</key>
     <string>1.0.beta</string>
     <key>DocSetFeedName</key>
     <string>DGtal generated docs</string>
     <key>DocSetPublisherIdentifier</key>
     <string>org.dgtal.DGtal-team</string>
     <key>DocSetPublisherName</key>
     <string>DGtal-team</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
