# Pelican
output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

# Local Netlify folder
.netlify
