# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem


[alias]
	sync-ghpages = !git checkout gh-pages && git rebase master && git push origin gh-pages && git checkout master
