# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

# Gem
Gemfile.lock

# Jupyter
**/.ipynb_checkpoints/
**/*.ipynb
**/__pycache__/

# Private key
**/thongtincovid19_serviceaccount_privatekey.json
