# --- General options --- #

# Name of website
title: Flor LaReina Munoz data science projects

# Short description of your site
description: A list of my recent works of art

# --- Local development options ---
# If your website is hosted locally rather than on GitHub, then you need to uncomment the next two parameters to set the url and baseurl
# *** If you're not sure what this mean, then leave this section as it is. Only modify the url and baseurl if you know what you're doing!***

# url is the the website domain URL without a trailing slash
#url: "https://github.com/FlorLaReinaMunoz/beautiful-jekyll"

# baseurl should be an empty string
#baseurl: ""

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  About Me: "I am pushing myself into a realm I never thought was possible. To challenge yourself is so much greater than any challenge you would get anywhere else. You are your greatest cheerleader and your own worst enemy."
  Resources:
    - Beautiful Jekyll: "http://deanattali.com/beautiful-jekyll/"
    #- Learn markdown: "http://www.markdowntutorial.com/"
  Author's home: "https://github.com/FlorLaReinaMunoz/beautiful-jekyll"

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
#avatar: "/img/avatar-icon.png"

# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
title-img: "https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/27867402_10156516666549305_1921245965302635270_n.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=Eyj035t9e0sAX8dbL6I&_nc_ht=scontent-ort2-2.xx&oh=4fc6de54c30e74880e4aa3557aead207&oe=5EBF8C07&dl=1"
# --- Background colour/image options --- #

# Personalize the colors in your website. Colour values can be any valid CSS colour

navbar-col: "pink"
navbar-text-col: "medium violet red"
navbar-children-col: "violet red"
page-col: "pale violet red"
link-col: "medium orchid"
hover-col: "dark orchid"
footer-col: "dark violet"
footer-text-col: "blue violet"
footer-link-col: "medium purple"

# Alternatively, the navbar, footer, and page background can be set to use background images
# instead of colour

# navbar-img: "/img/bgimage.png"
# footer-img: "/img/bgimage.png"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author: Flor Munoz
  name: Flor Munoz

# Select your active Social Network Links.
# Uncomment the links you want to show in the footer and add your information to each link.
# You can reorder the items to define the link order.
# If you want to add a new link that isn't here, you'll need to also edit the file _data/SocialNetworks.yml
social-network-links:
  email: "flormunozdch7@gmail.com"
  facebook: "https://www.facebook.com/florlareinamunoz"
  github: "FlorLaReinaMunoz"
  twitter: "@lagueritaloca"
  reddit: "https://www.reddit.com/user/florlareinamunoz"
  linkedin: "https://www.linkedin.com/in/florlareinamunoz/"
#  xing: yourname
#  stackoverflow: "3943160/daattali"
#  snapchat: deanat78
  instagram: lagueradomingera
#  youtube: user/deanat78
#  spotify: yourname
  telephone: "(512) 766-9077"
#  steam: deanat78
#  twitch: yourname
  yelp: "florlareinamunoz.yelp.com"

# Select which share links to show in posts
share-links-active:
  github: true
  facebook: true
  linkedin: true
  instagram: true
  yelp: true
  telephone: true
  reddit: true
  email: true
  twitter: true

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
#url-pretty: "https://github.com/FlorLaReinaMunoz/beautiful-jekyll/"  # eg. "deanattali.com/beautiful-jekyll"

# --- Web Statistics Section --- #

# Fill in your Google Analytics gtag.js ID to track your website using gtag
#gtag: ""

# Fill in your Google Analytics ID to track your website using GA
#google_analytics: ""

# Google Tag Manager ID
#gtm: ""

# Matomo (aka Piwik) Web statistics
# Uncomment the following section to enable Matomo. The opt-out parameter controls
# whether or not you want to allow users to opt out of tracking.

#matomo:
#  site_id: "9"
#  uri: "demo.wiki.pro"
#  opt-out: true

# --- Comments --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
# disqus: ""

# To use Facebook Comments, fill in a Facebook App ID
# fb_comment_id: ""

# To use Staticman comments, fill in repository, branch, and endpoint
#staticman:
 # repository : # GitHub username/repository eg. "daattali/beautiful-jekyll"
  #branch     : master # If you're not using `master` branch, then you also need to update the `branch` parameter in `staticman.yml`
  #endpoint   : # URL of your own deployment, with a trailing slash (will fallback to a public GitLab instance) eg. https://<your-api>/v3/entry/github/
  #reCaptcha:
    # reCaptcha for Staticman (OPTIONAL, but recommended for spam protection)
    # If you use reCaptcha, you must also set these parameters in staticman.yml
   # siteKey  : # Use your own site key, you need to apply for one on Google
    #secret   : # ENCRYPT your password by going to https://staticman3.herokuapp.com/v3/encrypt/<your-site-secret>

# To use Utterances comments: (1) fill in repository (make sure the repository is public), (2) Enable Issues in your repository, (3) Install the Utterances app in your repository https://github.com/apps/utterances
# See more details about the parameters below at https://utteranc.es/
#utterances:
 # repository:  GitHub "https://github.com/FlorLaReinaMunoz/beautiful-jekyll"
 # issue-term: title   # Mapping between blog posts and GitHub issues
 # theme: github-light # Utterances theme
 # label: blog-comments # Label that will be assigned to GitHub Issues created by Utterances


# --- Misc --- #

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "~"

# Ruby Date Format
date_format: "%B %-d, %Y"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Central"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags index page and make tags on each post clickable
link-tags: true

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap
