version: 0.9.2.{build}

environment:
  BOOST_ROOT: "C:\\Libraries\\boost_1_63_0"
  matrix:
  - VS_GEN: Visual Studio 14 2015
    CONFIG: RelWithDebInfo
    CONFIGQGL: Release
    QGLDIR: C:\Libraries
    B_NAME: Win32
    BOOST_LIBRARYDIR: "C:\\Libraries\\boost_1_63_0\\lib32-msvc-14.0"
    QTDIR: "C:\\Qt\\5.6.3\\msvc2015"
  # - VS_GEN: Visual Studio 14 2015 Win64
  #   CONFIG: Release
  #   B_NAME: Win64

cache:
  - C:\Libraries\libqglviewer

matrix:
  fast_finish: true


# Operating system (build VM template)
os: Visual Studio 2015
branches:
  except:
  - coverity_scan
skip_tags: true
#platform: ARM
#  - x86
#  - x64
#  - ARM

# scripts that are called at very beginning, before repo cloning
init:
  # Print environment info
  - set
  - msbuild /version
  - cmake --version
  - set PATH=%QTDIR%\bin;%PATH%
  - set CACHEOK=FALSE

# scripts that run after cloning repository
install:

before_build:

  # install zlib
  - cmd: mkdir c:\zlib
  - appveyor DownloadFile "http://ker.iutsd.univ-lorraine.fr/zlib-1.2.11.zip" -FileName zlib.zip
  - 7z x zlib.zip -oC:\zlib
  - cmd: cd C:\zlib
  - cmd: mkdir C:\zlib-install
  - cmd: mkdir C:\zlib-build
  - cmd: cd C:\zlib-build
  - cmd: dir C:\zlib
  - cmake -G"%VS_GEN%" -DCMAKE_BUILD_TYPE=%CONFIG%  -DCMAKE_INSTALL_PREFIX:PATH=c:\zlib-install C:\zlib\zlib-1.2.11
  - msbuild zlib.sln /m
  - cmd: msbuild INSTALL.vcxproj


  #install QGLViewer:
  - IF EXIST %QGLDIR%\libqglviewer SET CACHEOK=TRUE
  - IF %CACHEOK%==FALSE git clone --depth 1 https://github.com/kerautret/libQGLViewer.git %QGLDIR%\libqglviewer
  - IF %CACHEOK%==FALSE cd %QGLDIR%\libqglviewer\QGLViewer
  - IF %CACHEOK%==FALSE qmake -t vclib QGLViewer.pro -spec win32-msvc2013 -o  qglviewer.vcxproj
  - IF %CACHEOK%==FALSE msbuild /m /p:Configuration=%CONFIGQGL% /p:Platform=%B_NAME% qglviewer.vcxproj
  - cd %APPVEYOR_BUILD_FOLDER%
  - cmake -Wno-dev -G"%VS_GEN%" -DCMAKE_BUILD_TYPE=%CONFIG% -DWITH_QGLVIEWER:BOOL=ON -DQGLVIEWER_INCLUDE_DIR=%QGLDIR%\libQGLViewer -DQGLVIEWER_LIBRARIES=%QGLDIR%\libQGLViewer\QGLViewer\QGLViewer2.lib -DWITH_QT5:BOOL=ON -DBUILD_EXAMPLES:BOOL=ON -DBUILD_TESTING:BOOL=OFF -DBUILD_SHARED_LIBS:BOOL=FALSE   -DZLIB_LIBRARY=c:/zlib-install/lib/zlibd.lib -DZLIB_INCLUDE_DIR=c:/zlib-install/include/ -DBOOST_ROOT=%BOOST_ROOT% -DBOOST_LIBRARYDIR=%BOOST_LIBRARYDIR% .

  
#  - cmake -Wno-dev -G"%VS_GEN%" -DCMAKE_BUILD_TYPE=%CONFIG% -DGDCM_BUILD_TESTING:BOOL=ON -DGDCM_BUILD_APPLICATIONS:BOOL=ON -DGDCM_BUILD_SHARED_LIBS:BOOL=ON -DGDCM_ALLOW_INSOURCE_BUILD:BOOL=ON -DBUILDNAME:STRING=%COMPUTERNAME%-%B_NAME% -DGDCM_WRAP_CSHARP:BOOL=ON -DGDCM_WRAP_JAVA:BOOL=ON -DGDCM_WRAP_PYTHON:BOOL=ON -DGDCM_USE_PVRG:BOOL=ON .

build_script:
  - echo %CONFIG%
  # NUMBER_OF_PROCESSORS=2
  # msbuild /m => parallel
  #- msbuild gdcm.sln /m /p:Configuration=%config% /toolsversion:14.0 /p:Platform=x64 /p:PlatformToolset=v140
  # Do not run Test=Update/Configure, only Start/Build/Test/Submit (TODO: Coverage)

  - msbuild /m /p:Configuration=%CONFIG% /p:Platform=%B_NAME% DGtal.sln

# - ctest -D ExperimentalStart -C %CONFIG%
 # - ctest -D ExperimentalBuild -j2 -C %CONFIG%
 # - ctest -D ExperimentalTest -j2 -C %CONFIG%

test: off
deploy: off
