---
layout: covi
title: Bài viết
---

<div class="container">
  <div class="row covi-posts">
    {% assign filtered_posts = site.posts | where: 'category', 'thematic' %}
    {% include posts.html posts=filtered_posts %}
  </div>

  <!-- FIXME: pagination not workings -->
  <!-- {% if paginator.total_pages > 1 %}
  <ul class="pager main-pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %} -->
</div>
