---
layout: default
title: 标签
page-title: tags
home-title: Let's pick something.
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li class="fadeInUp animated">
        {% if site.tags.size>0 %}
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>
        {% for tag in site.tags %}
        <li>
            <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
            {% for post in tag[1] %}
            <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>

        {% endfor%}
    </ul>
</main>
{% include footer.html %}
