---
layout: page
title: Tags
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.tags %}
	<a href="/tag#{{ tag[0] }}-ref" class="post-tag" id="{{ tag[0] }}"><i class="fa fa-tag" aria-hidden="true"></i> 
		{{ tag[0] }} ({{ tag[1].size }})</a>
    {% endfor %}
    <br>
    <a href="#" class="post-tag1" id="showall"><i class="fa fa-tags" aria-hidden="true"></i> Xem tất cả </a>
  </div>

  <hr/>

  <div class="tags-expo-section">
	{% for tag in site.tags %}
		<div class="tags-container" id="{{ tag[0] }}-con">
			<h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
			<ul class="tags-expo-posts">
			{% for post in tag[1] %}
				<a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
			<li>
				{{ post.title }}
			<small class="post-date">({{ post.date | date_to_string }})</small>
			</li>
			</a>
			{% endfor %}
			</ul>
		</div>
	{% endfor %}
  </div>
  
</div>