<div class="ui fluid inverted accordion" id="blog-filter">
    {% for category in site.categories %}
    <div class="title filter" data-filter=".{{ category | first }}">
        <i class="dropdown icon"></i>
        <h6 style="display:inline-block; text-transform: capitalize;">{{ category | first }}</h6>
    </div>
    <div class="content inner">
         <div class="ui inverted list">
        {% for posts in category %} {% for post in posts %} {% if post.url %}

  <div class="item">
    <div class="content">
      <h6><a class="header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
      <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
    </div>
  </div>

        {% endif %} {% endfor %} {% endfor %}
    </div>
    </div>
    {% endfor %}
</div>

