<style>
.bgimg {
    font-size: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
}
hr {
    margin: auto;
    width: 40%;
}
.flex-item {
    text-align: center;
}
</style>

<div class="bgimg">
    <div class="flex-item">
        <h1>COMING SOON</h1>
        <hr>
        <p id="demo"></p>
    </div>
</div>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Apr 27, 2020 09:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").style.display = "none";
        document.getElementById("demo").innerHTML = "";
    }
}, 1000);
</script>
