{%- comment -%}  Whole card clickable {%- endcomment -%}

{%- comment -%} 600x200 header image {%- endcomment -%}
{%- comment -%} Name of dealer (display name) {%- endcomment -%}
{%- comment -%} [direct link] {%- endcomment -%}
{%- comment -%} Little blurb {%- endcomment -%}

{% assign dealer = include.dealer %}
{% assign dealer_image = dealer["image_name"] | default: dealer["display_name"] %}

<div class="dealer-card">
    {% if dealer["image_name"] %}
    <img class="dealer-banner" src="/assets/img/dealers/{{ dealer_image }}" alt="{{ dealer["display_name"] }}" />    
    {% endif %}
    
    <div class="dealer-card-content">
        <div class="dealer-name">
            {{ dealer["display_name"] }}
        </div>
        <div class="dealer-blurb">
            {{ dealer["short_description"] }}
        </div>
        <div class="dealer-website">
            {{ dealer["website_link"] }}
        </div>
    </div>
    
    <a class="dealer-card-link" href="{{ dealer["website_link"] }}" target="_blank"></a>
</div>
