{%- comment -%}  Whole card clickable {%- endcomment -%}

{%- comment -%} 600x200 header image {%- endcomment -%}
{%- comment -%} Name of dealer (display name) {%- endcomment -%}
{%- comment -%} [direct link] {%- endcomment -%}
{%- comment -%} Little blurb {%- endcomment -%}

{% assign dealer = include.dealer %}
{% assign dealer_image = dealer["image_name"] | default: dealer["display_name"] %}

<div class="dealer-card">
    {% if dealer["image_name"] %}
    <div class="dealer-banner-container">
      <div class="dealer-banner" style=" background-image: url(/assets/img/2022/dealers_images/{{ dealer_image }}" alt="{{ dealer["display_name"] }})"></div>
    </div>
    {% endif %}

    <div class="dealer-card-content">
        <div class="dealer-name">
            {{ dealer["display_name"] }}
        </div>
        <div class="dealer-blurb">
            {{ dealer["short_description"] }}
        </div>
        <div class="dealer-website">
            {% if dealer["nsfw"] == "yes" %}
              {% assign nsfw_text = " (nsfw)" %}
            {% else %}
              {% assign nsfw_text = "" %}
            {% endif %}
            
            {% if dealer["website_link"] %}
            They can be reached <a href="{{ dealer["website_link"] }}" target="_blank">here{{nsfw_text}}</a>
            {% endif %}
        </div>
    </div>

    {% if dealer["website_link"] %}
    <a class="dealer-card-link" href="{{ dealer["website_link"] }}" target="_blank"></a>
    {% endif %}
</div>
