<!DOCTYPE html>
<html lang="en">

<body>
  <div class='footer'>
    <div style="background-color: rgba(0,0,0, .03)">
      <div class='footerContent' id='footerContent' style="display: 
      flex; flex-direction:row-reverse; height:14em; margin: 0 auto; max-width: 110em;">
        <div class='address' id="address_id">
          <span>Central Park Residence, 68 Plopilor St, Cluj-Napoca, CJ 400383, Romania</span>
          <div>
            <span class='dark'>contact@craftingsoftware.com</span>
            <a href="tel:+40745 617 142" class='dark'>+40745 617 142</a>
          </div>
        </div>
        <div class='social'>
          <img id="craftingLogoColor_id" src="/img/craftingLogoColor.svg">
          <div class='social-icons'>
            <a target="_blank" href="https://www.facebook.com/craftingsoftware/"> <img class='icon'
                src="/img/facebookDark.svg"> </a>
            <a target="_blank" href="https://www.linkedin.com/in/crafting-software-a69694153/"> <img class='icon'
                src="/img/linkedinDark.svg"> </a>
          </div>
        </div>
        <div class='navItemsDesktop' style="width: 600px; margin-left:-5em;">
          <div class='navItemDesktop'>
            <img class='navIcon' src="/img/right-arrow.svg">
            <a href="https://craftingsoftware.com/" data-pjax>About</a>
          </div>
          <div class='navItemDesktop'>
            <img class='navIcon' src="/img/right-arrow.svg">
            <a href="https://craftingsoftware.com/team" data-pjax>Team</a>
          </div>
          <div class='navItemDesktop'>
            <img class='navIcon' src="/img/right-arrow.svg">
            <a href="https://craftingsoftware.com/career" data-pjax>Career</a>
          </div>
          <div class='navItemDesktop'>
            <img class='navIcon' src="/img/right-arrow.svg">
            <a href="/" data-pjax>Blog</a>
          </div>
          <div class='navItemDesktop'>
            <img class='navIcon' src="/img/right-arrow.svg">
            <a href="https://craftingsoftware.com/contact" data-pjax>Contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class='copyright'>
      <span>© 2019 Crafting Software. All rights reserved.</span>
    </div>
  </div>
</body>
</html>