{% if site.gitalk.clientID and site.gitalk.clientSecret %}
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script >
  const gitalk = new Gitalk({
    clientID: '{{ site.gitalk.clientID }}',
    clientSecret: "{{ site.gitalk.clientSecret }}",
    repo: "{{ site.gitalk.repository }}",
    owner: "{{ site.gitalk.owner }}",
    admin: ["{{ site.gitalk.admin | split: ','  | join: '","'}}"],
    id: "{{ page.url }}",    // Ensure uniqueness and length less than 50 
    distractionFreeMode: false,  // Facebook-like distraction free mode
    perPage: 100
});

gitalk.render('gitalk-container')
</script>

{% endif %}
