<section class="bg--white covi-section no-padding-top">
  <div class="container">
    <div class="covi-section__content">
      <h2 class="page-header">Media</h2>

      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/OU9X_h9nqTs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Những thông tin mới nhất về COVID – 19 và cách nhận trợ cấp! ~おかじ/okaji~</h4>
          <a href="https://www.facebook.com/watch/?v=2795211977267372">Nguồn: おかじ/okaji_Tiếng Nhật (Youtube Channel)</a>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fvtv4go%2Fvideos%2F2795211977267372%2F&show_text=0&width=476&t=93" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Kênh thông tin về Covid-19 dành cho người Việt Nam tại Nhật Bản</h4>
          <a href="https://www.facebook.com/watch/?v=2795211977267372">Nguồn: VTV4 (Facebook)</a>
        </div>
      </div>
    </div>
  </div>
</section>
