<nav class="navbar navbar-default navbar-custom top-nav-short">
  <div class="container">
    <div class="navbar-header">
      {%- if site.title-img -%}
      <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"
        ><img src="{{ site.title-img }}"
        /></a>
      {%- endif -%}
      <a class="navbar-brand hidden-xs" href="{{ '' | absolute_url }}"
        >{{ site.title }}</a
      >
    </div>
  </div>
</nav>

<nav class="covi-nav-fixed">
  <div class="container">
    <div class="covi-nav-carousel">
      {%- for link in site.navbar-links -%}
      <li class="covi-nav-item">
        <span><a class="link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a></span>
      </li>
      {%- endfor -%}
    </div>
  </div>
</nav>
