<section class="bg--white covi-section no-padding-top">
  <div class="container">
    <div class="covi-section__content">
      <h2 class="page-header">Đối tác tiêu biểu</h2>

      <div class="row" style="padding-top: 48px;">
        <div class="col-md-3 col-xs-6 text-center">
          <a href="https://vanj.jp/" target="_blank">
            <img src="/img/partners/vanj.png" alt="VANJ" height="64" />
          </a>
        </div>
        <div
          class="col-md-3 col-xs-6 text-center"
          style="padding-bottom: 24px;"
        >
          <a href="https://vietpro.jp/" target="_blank">
            <img src="/img/partners/vpj.png" alt="VPJ" height="64" />
          </a>
        </div>
        <div class="col-md-6 text-center">
          <a href="https://vysajp.org/" target="_blank">
            <img src="/img/partners/vysa.png" alt="VYSA" height="64" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
