<section class="bg--white covi-section no-padding-top">
  <div class="container">
    <div class="covi-section__content">
      <h2 class="page-header">Đối tác tiêu biểu</h2>

      <ul style="list-style: none; display: flex; flex-direction: row; justify-content: space-around; margin-top: 48px;">
        <li>
          <a href="https://vanj.jp/" target="_blank">
            <img src="/img/partners/vanj.png" alt="VANJ" height="64" />
          </a>
        </li>
        <li>
          <a href="https://vietpro.jp/" target="_blank">
            <img src="/img/partners/vpj.png" alt="VPJ" height="64" />
          </a>
        </li>
        <li>
          <a href="https://vysajp.org/" target="_blank">
            <img src="/img/partners/vysa.png" alt="VYSA" height="64" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
