<div class="card" style="width: 15rem;">
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank"></a>
  {% else %}
  <a href="{{ project.url | relative_url }}"></a>
  {% endif %}
    {% if project.img %}
       <img class="card-img-top" src="{{ project.img | relative_url }}" alt="project thumbnail" width="200">  
    {% endif %}
  
  <div class="card-body">
    <h4 class="card-title">{{ project.title }}</h4>
    <p class="card-text">{{ project.description }}</p>
   {% if project.github %}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
                </div>
               </div>
     {% endif %}
       </div>
    </div>
