<script async defer src="https://buttons.github.io/buttons.js"></script>

<div style="margin:-20px 15px 0 0;float:right;">
  <a class="github-button" href="https://github.com/mobydq" data-size="large" aria-label="Follow @mobydq on GitHub">Follow</a>
  <a class="github-button" href="https://github.com/mobydq/mobydq" data-icon="octicon-star" data-size="large" aria-label="Star mobydq/mobydq on GitHub">Star</a>
  <a class="github-button" href="https://github.com/mobydq/mobydq/fork" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork mobydq/mobydq on GitHub">Fork</a>
</div>
