<div class="ui right inverted sidebar vertical menu">
    <div class="sidebar-container">
        <a class="green item" href="{{ site.baseurl }}/">
            <i class="home icon"></i>Home
        </a>
        <a class="item" href="#">
            <i class="video envelope icon"></i>Contact
        </a>
        <div class="ui horizontal inverted divider">
            <h6>Categories</h6>
        </div>
        {% include blog-filter.html %}
        <div class="ui horizontal inverted divider">
            <h6>Most Recent</h6></div>
        <div class="ui inverted list">
            {% for post in site.posts limit:5 %}
            <div class="item">
                <div class="content">
                    <h6><a class="header" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
                    <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui icon compact inverted menu">
        	<a class="item">
        <i class="github icon"></i>
      </a>
          <a class="item">
          	<i class="medium icon"></i>
          </a>
           <a class="item">
          	<i class="instagram icon"></i>
          </a>
          <a class="item">
        <i class="twitter icon"></i>
      </a>
      </div>
    </div>
</div>