<div class="col-md-3 rh-sidebar">
<!-- ADDED EMAIL FORM TO ALL PAGES.  POSITION IS FIXED BELOW MAX NAV DROP DOWN -->
<!-- TODO:  REVISIT TO INSURE RESPONSIVE VIEWS ARE APPROPRIATE -->
  {% include email_signup_form.html %}

  <div class="speed-dial-wrapper">
    <h2>Speed Dial</h2>
    <table border="0" cellspacing="5" cellpadding="0">
      <tbody>
        <tr>
          <td>Senator John Cornyn<br/>
              <a href="tel:512-469-6034"><img src="/img/icon-phone.png" width="16" /> 512-469-6034</a><br/>
              <a href="https://www.cornyn.senate.gov/contact"><img src="/img/icon-email.png" width="16" /> Contact</a>
          </td>
        </tr>
        <tr>
          <td>Senator Ted Cruz<br/>
              <a href="tel:512-916-5834"><img src="/img/icon-phone.png" width="16" /> 512-916-5834</a><br/>
              <a href="https://www.cruz.senate.gov/?p=email_senator"><img src="/img/icon-email.png" width="16" /> Contact</a>
        </tr>
        <tr>
          <td>Rep. Mike McCaul (TX-10)<br/>
              <a href="tel:512-473-2357"><img src="/img/icon-phone.png" width="16" /> 512-473-2357</a><br/>
              <a href="http://mccaul.house.gov/contact/"><img src="/img/icon-email.png" width="16" /> Contact</a>
          </td>
        </tr>
        <tr>
          <td>Rep. Bill Flores (TX-17)<br/>
              <a href="tel:512-373-3378"><img src="/img/icon-phone.png" width="16" /> 512-373-3378</a><br/>
              <a href="http://flores.house.gov/contact/"><img src="/img/icon-email.png" width="16" /> Contact</a>
          </td>
        </tr>
        <tr>
          <td>Rep. Lamar Smith (TX-21)<br/>
            <a href="tel:512-912-7508"><img src="/img/icon-phone.png" width="16" /> 512-912-7508</a><br/>
            <a href="https://lamarsmith.house.gov/contact"><img src="/img/icon-email.png" width="16" /> Contact</a>
        </tr>
        <tr>
          <td>Rep. Roger Williams (TX-25)<br/>
              <a href="tel:512-473-8910"><img src="/img/icon-phone.png" width="16" /> 512-473-8910</a><br/>
              <a href="https://williams.house.gov/contact"><img src="/img/icon-email.png" width="16" /> Contact</a>
          </td>
        </tr>
        <tr>
          <td>Rep. John Carter (TX-31)<br/>
              <a href="tel:512-246-1600"><img src="/img/icon-phone.png" width="16" /> 512-246-1600</a><br/>
              <a href="https://carter.house.gov/email-john2/"><img src="/img/icon-email.png" width="16" /> Contact</a>

          </td>
        </tr>
        <tr>
          <td>Rep. Lloyd Doggett (TX-35)<br/>
              <a href="tel:512-916-5921"><img src="/img/icon-phone.png" width="16" /> 512-916-5921</a><br/>
              <a href="https://doggett.house.gov/contact"><img src="/img/icon-email.png" width="16" /> Contact</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
