{% if site.social-network-links %}
<ul class="list-inline text-center footer-links">

{%- for network in site.social-network-links -%}

  {%- if network[0] == "rss" and network[1] and site.rss-description -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "email" -%}
  <li class="list-inline-item">
    <a href="mailto:{{ network[1] }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "calendly" -%}
  <li class="list-inline-item">
    <a href="https://calendly.com/{{ network[1] }}" title="Schedule a meeting with me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Schedule a meeting with me</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "facebook" -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/{{ network[1] }}" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "telegram" -%}
  <li class="list-inline-item">
    <a href="https://t.me/{{ network[1] }}" title="Telegram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Telegram</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "whatsapp" -%}
  <li class="list-inline-item">
    <a href="https://wa.me/{{ network[1] }}" title="Whatsapp">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Whatsapp</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "github" -%}
  <li class="list-inline-item">
    <a href="https://github.com/{{ network[1] }}" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "gitlab" -%}
  <li class="list-inline-item">
    <a href="https://gitlab.com/{{ network[1] }}" title="GitLab">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitLab</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "twitter" -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/{{ network[1] }}" title="X (Twitter)">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">X (Twitter)</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "reddit" -%}
  {% assign reddit_start = network[1] | split: "/" | first -%}
  {% unless reddit_start == 'r' or reddit_start == 'u' -%}
    {% assign reddit_url_prefix = 'u/' -%}
  {% endunless -%}
  <li class="list-inline-item">
    <a href="https://reddit.com/{{ reddit_url_prefix }}{{ network[1] }}" title="Reddit">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Reddit</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "linkedin" -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/{{ network[1] }}" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "xing" -%}
  <li class="list-inline-item">
    <a href="https://www.xing.com/profile/{{ network[1] }}" title="Xing">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Xing</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "stackoverflow" -%}
  <li class="list-inline-item">
    <a href="https://stackoverflow.com/users/{{ network[1] }}" title="StackOverflow">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">StackOverflow</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "snapchat" -%}
  <li class="list-inline-item">
    <a href="https://www.snapchat.com/add/{{ network[1] }}" title="Snapchat">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-snapchat-ghost fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Snapchat</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "instagram" -%}
  <li class="list-inline-item">
    <a href="https://www.instagram.com/{{ network[1] }}" title="Instagram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Instagram</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "youtube" -%}
  <li class="list-inline-item">
    <a href="https://www.youtube.com/{{ network[1] }}" title="YouTube">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">YouTube</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "spotify" -%}
  <li class="list-inline-item">
    <a href="https://open.spotify.com/user/{{ network[1] }}" title="Spotify">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Spotify</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "telephone" -%}
  <li class="list-inline-item">
    <a href="tel:{{ network[1] }}" title="Phone">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Phone</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "steam" -%}
  <li class="list-inline-item">
    <a href="https://steamcommunity.com/id/{{ network[1] }}" title="Steam">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-steam fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Steam</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "twitch" -%}
  <li class="list-inline-item">
    <a href="https://www.twitch.tv/{{ network[1] }}" title="Twitch">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitch</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "yelp" -%}
  <li class="list-inline-item">
    <a href="https://yelp.com/{{ network[1] }}" title="Yelp">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-yelp fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Yelp</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "mastodon" -%}
  <li class="list-inline-item">
    <a rel="me" href="https://{{ network[1] }}" title="Mastodon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Mastodon</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "bluesky" -%}
  <li class="list-inline-item">
    <a rel="me" href="https://bsky.app/profile/{{ network[1] }}" title="Bluesky">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-brands fa-bluesky fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Bluesky</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "ORCID" -%}
 <li class="list-inline-item">
   <a href="https://orcid.org/{{ network[1] }}" title="ORCID">
     <span class="fa-stack fa-lg" aria-hidden="true">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fab fa-orcid fa-stack-1x fa-inverse"></i>
     </span>
     <span class="sr-only">ORCID</span>
   </a>
 </li>
  {%- endif -%}

  {%- if network[0] == "google-scholar" -%}
  <li class="list-inline-item">
    <a href="https://scholar.google.com/citations?user={{ network[1] }}" title="Google Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Google Scholar</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "patreon" -%}
  <li class="list-inline-item">
    <a href="https://patreon.com/{{ network[1] }}" title="Patreon">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-patreon fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Patreon</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "medium" -%}
  <li class="list-inline-item">
    <a href="https://medium.com/@{{ network[1] }}" title="Medium">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Medium</span>
    </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "itchio" -%}
  <li class="list-inline-item">
    <a href="https://{{ network[1] }}.itch.io/" title="Itchio">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-itch-io fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Itchio</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "discord" -%}
  {% assign discord_start = network[1] | split: "/" | first -%}
  {% unless discord_start == 'users' or discord_start == 'invite' -%}
    {% assign discord_url_prefix = 'invite/' -%}
  {% endunless -%}
  <li class="list-inline-item">
    <a href="https://discord.com/{{discord_url_prefix}}{{network[1]}}" title="Discord">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Discord</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "kaggle" -%}
  <li class="list-inline-item">
    <a href="https://www.kaggle.com/{{ network[1] }}" title="Kaggle">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-kaggle fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Kaggle</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "hackerrank" -%}
  <li class="list-inline-item">
    <a href="https://www.hackerrank.com/{{ network[1] }}" title="Hackerrank">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-hackerrank fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Hackerrank</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "untappd" -%}
  <li class="list-inline-item">
    <a href="https://untappd.com/user/{{ network[1] }}" title="Untappd">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-untappd fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Untappd</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "strava" -%}
  <li class="list-inline-item">
    <a href="https://www.strava.com/athletes/{{ site.social-network-links.strava}}" title="Strava">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-strava fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Strava</span>
   </a>
  </li>
  {%- endif -%}

{%- endfor -%}

</ul>
{% endif %}
