{% if site.share-links-active.twitter == false and site.share-links-active.facebook == false and site.share-links-active.google == false and site.share-links-active.linkedin == false %}
{% else %}
<section id = "social-share-section">

  <!--- Share on Twitter -->
  {% unless site.share-links-active.twitter == false %}
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-twitter" title="Share on Twitter">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
    </a>
  {% endunless %}

  <!--- Share on Facebook -->
  {% unless site.share-links-active.facebook == false %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
    </a>
  {% endunless %}

  <!--- Share on Google Plus -->
  {% unless site.share-links-active.google == false %}
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-google" title="Share on Google+">
      <span class="fa fa-fw fa-google-plus" aria-hidden="true"></span>
    </a>
  {% endunless %}

  <!--- Share on LinkedIn -->
  {% unless site.share-links-active.linkedin == false %}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
    </a>
  {% endunless %}

</section>

{% endif %}
