<style>
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
</style>

<!------ Include the above in your HEAD tag ---------->

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="timeline">
				<li>
					<a href="#">Création de la communauté</a>
					<p>Nous sommes aujourd'hui plus de 1000 personnes</p>
				</li>
				<li>
					<a href="#">Mise en ligne de veille-coronavirus.fr</a>
                    <p>Tableau de bord illustrant la situation française</p>
				</li>
				<li>
					<a href="#">Mise en ligne de tiny.cc/covidfr</a>
                    <p>Tableau de bord illustrant la situation mondiale</p>
				</li>
				<li>
					<a href="#">Mise en ligne de Covid Data Academics</a>
                    <p>Agrégation communautaire de la littérature universitaire disponible </p>
				</li>
				<li>
					<a href="#">Mise en ligne de Pharm'Help</a>
					<p>Plateforme d'assistance mutuelle entre pharmacies</p>
				</li>
				<li>
					<a href="#">Mise en ligne de Covid Data share-beds</a>
					<p>Plateforme pour l'échange de lits, d'équipements et de personnel entre hôpitaux</p>
				</li>
				<li>
					<a href="#">Veille-coronavirus.fr devient le tableau de bord officiel français</a>
                    <p>Il est désormais disponible à l'adresse suivante: dashboard.covid19.data.gouv.fr</p>
				</li>
				<li>
					<a href="#">Emergence de nombreux projets citoyens</a>
					<p>Plus d'informations sur opencovid19-fr.github.io</p>
				</li>
				<li>
					<a href="#">Lancement de OpenStopCovid</a>
					<p>Une application mobile Open Source de traçage numérique qui aide à déconfiner de manière éthique</p>
				</li>
			</ul>
		</div>
	</div>
</div>
