.share {
  @include center(800px);
  text-align: center;
  border-top: 1px solid $lightGray;
  padding-top: rem(20px);
  margin-top: rem(10px);

  @include media(">=sm") {
    margin-top: rem(50px);
  }

  article & {
    border-top: none;
  }

  svg {
    margin: rem(15px);
    @include size(35, 35);
  }

  a {
    text-decoration: none;
    border: none;
  }

  .icon {
    transition: all 0.3s;
  }

  .icon-twitter:hover {
    fill: #1da1f3;
  }
  
  .icon-facebook:hover {
    fill: #3b5998;
  }
}
