:root {
    --surface-color: #fff;
    --curve: 40;
  }

  @font-face {
    font-family: 'handwritten'; /*a name to be used later*/
    src: url(../font/RusticRoadway.otf); /*URL to font*/
  }

  @font-face {
    font-family: 'OnceUponATime'; /*a name to be used later*/
    src: url(../font/Beyond\ Wonderland.ttf); /*URL to font*/
  }

html { scroll-behavior: smooth; }

.DataStory {
  text-align: center;
  font-family: 'OnceUponATime';
  font-size: 100px;
  color: #AB0000;
  text-shadow: 10px 10px 5px rgba(19, 19, 19, 0.409);
}


  /* Quote https://codepen.io/jupago/pen/GPxqLX ---------------------------------------------------*/
 
  /* Blockquote main style */
  .blockquote {
      position: relative;
      /*font-family: 'Barlow Condensed', sans-serif;*/
      max-width: 900px;
      margin-top: 20px;
      margin-bottom: 50px;
      align-self: center;
      /*background-color: #292a2b;*/
  }
  
  /* Blockquote header */
  .blockquote h1 {
      /*font-family: 'Abril Fatface', cursive;*/
      position: relative; /* for pseudos */
      color: #363636;
      font-family:Lucida Sans;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #fff;
      border: solid 10px;
      border-radius:20px;
      padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
      content:"";
      position: absolute;
      border: 10px solid #363636;
      border-radius: 0 100% 0 0;
      width: 60px;
      height: 60px;
      bottom: -62px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3; 
  }
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
      .blockquote h1 {
          font-size: 2rem;
          line-height: 1.2;
     }
  
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
      position: relative;
      color: #363636;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left:150px;
      padding-left:12px;
  }
  
   
  .blockquote h4:first-letter {
    margin-left:-12px;
  }

  /* Deep dive card ---------------------------------------------------*/
  
  .hover-container {
    display: inline;
    position: relative;
    color: crimson;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .hover-container:hover .card{
    display: block;
  }

  .card {
    position: absolute;
    z-index: 1;
    display: None;
    height: 200px;
    width: 200px;
    border-radius: calc(var(--curve) * 1px);
    text-decoration: none;
    background: url("../img/DeepDive.png");
    background-size: cover;
    background-position: center;
}

.bloodCard {
    padding-top: 200px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.card:hover {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0)) , 
                url("../img/DeepDive.png");
    background-size: cover;
    background-position: center;
}

.card:hover .bloodCard {
    opacity: 1;
}

.card__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    padding: 20px;
    font-size: 1em;
    color: #fff;
}

/* PostIT ---------------------------------------------------*/

.postIT {
    margin: auto;
    flex-wrap: wrap;
    text-decoration:none;
    color:#000;
    background:url(../img/bloodyPOSTIT.png);
    background-size: cover;
    display:block;
    height:15em;
    width:30em;
    padding:0.5em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }
.titlefunfact {
    font-family:'handwritten';
    font-weight: bold;
    font-size: 2rem;
  }
  .textfunfact {
    font-weight: bold;
    margin-top: 0px;
    margin-left: 200px;
    font-family:'handwritten';
    font-size: 1rem;
  }
  .textdo {
    margin-top: 0px;
    float: right;
    font-family:'handwritten';
    font-size: 1rem;
  }
  .imgPostIt {
    float: left;
    height: 200px;
    padding: 10px;
    filter: grayscale(1) blur(0.8px) contrast(1.2) sepia(1);
    -webkit-mask: radial-gradient(#000, #0009);
  }
  
  .postIT:nth-child(even) a{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  .postIT:nth-child(3n) a{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  .postIT:nth-child(5n) a{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  
  .postIT:hover,.postIT:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.7);
    position:relative;
    z-index:5;
  }

  /* Newspaper https://codepen.io/grinberg/pen/WVwaYr ---------------------------------------------------*/

  /*––––––––––––––––––Fonts Links––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700');
@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');



/*––––––––––––––––––Header of Newspaper––––––––––––––––––––*/
.header
{
    padding-top: 10px;
    background-image: url(../img/PAPER.jpeg);
}

.header__info
{
    float: left;
    margin-left: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 100px;
    padding: 10px 10px;
    border: 1px solid;
    font-size: 0.5em;
}

.header__weather
{
    float: right;
    padding-right: 10px;
    width: 100px;
}

.header__weather-title
{
    margin: 0;
    text-align: center;
    font-family: Space Mono, monospace;
    font-weight: bold;
    font-size: 1em;
}

.header__weather-text
{
    margin: 0;
    text-align: justify;
    font-size: 0.4em;
    line-height: 1.1;
}

.header__title
{
    font-family: UnifrakturCook, fantasy;
    overflow: visible;
    text-align: center;
    font-size: 3em;
    margin: 0;
}


/*––––––––––––––––––Under Header of Newspaper–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    background-image: url(../img/PAPER.jpeg);
}

.sub-header__copyright
{
    display: inline-block;
    font-size: .4em;
    margin: 0 30px;
}

.sub-header__create-date
{
  font-size: 0.8em;
}

.sub-header__number
{
  padding-left: 10px;
  font-size: 0.8em;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Main Content––––––––––––––––*/
.content_newpaper
{
    display: flex;
    background-image: url(../img/PAPER.jpeg);
}

/*––––––––––––––––––Article Block–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Six Caps, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
    font-style: oblique;
    font-size: .4rem;
    text-align: justify;
    text-indent: 2ex;
}

.article__author
{
    display: block;
    font-weight: bold;
    font-size: .4rem;
    text-align: center;
    margin-top: 10px;
}

.article__content {
    font-size: .6em;
    text-indent: 2ex;
    text-align: justify;
    margin: 0;
}

.article__content p {
    margin: 3px;
}

.article_columns_two .article__content {
    text-align: justify;
    font-size: 0.8em;
}

.article_columns_two .article__title
{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 1.15em;
    text-align:center;
}

.article_columns_two .article__author {
    column-span: all;
}

.article_columns_two .article__continue {
    column-span: all;
}

.article__continue
{
    display: block;
    font-size: .8rem;
    font-style: oblique;
    text-align: center;
    padding-bottom: 10px;
}
.article__subtitle
{
    margin: 10px 0;
    font-family: Times New Roman, serif;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
}


/*––––––––––––––––––Main Photo Block–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
    filter: sepia(75%);
}

.main-photo__title
{
    margin: 2px;
    font-weight: bold;
}

.main-photo__caption {
    font-size: .7rem;
    text-transform: uppercase;
    text-align: right;
}

.main-photo__desc
{
    margin-bottom: 20px;
    font-size: .8em;
}

/*––––––––––––––––––Horizontal Line ––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;
    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Center Columns––––––––––––––––––*/


.article__title_font_racing {
    font-family: Racing Sans One, sans-serif;
    font-size: 2em;
}

.article__title_font_farsan {
    font-family: Farsan, sans-serif;
    font-style: italic;
    font-size: 2.3em;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;
    flex-grow: 2;
}

/*––––––––––––––––––Aside Columns––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 150px;
    margin-top: 20px;
    padding: 0 10px;
    flex-shrink: 0;
    filter: blur(2.5px);
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/