:root {
    --surface-color: #fff;
    --curve: 40;
  }

html { scroll-behavior: smooth; }

.oldBox {
    background-color: rgb(142, 132, 65);
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
    margin-left: 50px;
    margin-right:50px;
}

  /* Quote https://codepen.io/jupago/pen/GPxqLX
 
  /* Blockquote main style */
  .blockquote {
      position: relative;
      /*font-family: 'Barlow Condensed', sans-serif;*/
      max-width: 900px;
      margin-top: 20px;
      margin-bottom: 50px;
      align-self: center;
      /*background-color: #292a2b;*/
  }
  
  /* Blockquote header */
  .blockquote h1 {
      /*font-family: 'Abril Fatface', cursive;*/
      position: relative; /* for pseudos */
      color: #363636;
      font-family:Lucida Sans;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      border: 2px solid #fff;
      border: solid 10px;
      border-radius:20px;
      padding: 25px;
  }
  
  /* Blockquote right double quotes */
  .blockquote h1:after {
      content:"";
      position: absolute;
      border: 10px solid #363636;
      border-radius: 0 100% 0 0;
      width: 60px;
      height: 60px;
      bottom: -62px;
      left: 50px;
      border-bottom: none;
      border-left: none;
      z-index: 3; 
  }
  
  /* increase header size after 600px */
  @media all and (min-width: 600px) {
      .blockquote h1 {
          font-size: 3rem;
          line-height: 1.2;
     }
  
  }
  
  /* Blockquote subheader */
  .blockquote h4 {
      position: relative;
      color: #363636;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      padding-top: 15px;
      z-index: 1;
      margin-left:150px;
      padding-left:12px;
  }
  
   
  .blockquote h4:first-letter {
    margin-left:-12px;
  }

  /*Deep dive card*/
  
  .hover-container {
    display: inline;
    position: relative;
    color: crimson;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .hover-container:hover .card{
    display: block;
  }

  .card {
    position: absolute;
    z-index: 1;
    display: None;
    height: 200px;
    width: 200px;
    border-radius: calc(var(--curve) * 1px);
    text-decoration: none;
    background: url("../img/DeepDive.png");
    background-size: cover;
    background-position: center;
}

.bloodCard {
    padding-top: 200px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.card:hover {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0)) , 
                url("../img/DeepDive.png");
    background-size: cover;
    background-position: center;
}

.card:hover .bloodCard {
    opacity: 1;
}

.card__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; 
    padding: 20px;
    font-size: 1em;
    color: #fff;
}
