
:root[color-mode="light"] .light--hidden {
  display: none;
}

:root[color-mode="dark"] .dark--hidden {
  display: none;
}

.light--hidden svg {
  color: var(--darkreader-neutral-text, white)
}

.dark--hidden svg {
  color: var(--darkreader-neutral-text, black)
}

.js-dark-toggle svg {
  height: 1.125rem;
  width: 1.125rem;
}
