---
layout: null
---

.dealer-list-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.dealer-card-container {
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.dealer-card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: {{ site.footer-col | default: "#F5F5F5" }};
    border-radius: 5px;
}

.dealer-card-container:nth-of-type(even) {
   margin-right: 0px;
}

@media(max-width: 991px){
    .dealer-card-container {
        width: 100%;
        margin-right: 0px;
    }

    .dealer-card {
        width: 100%;
        max-width: 600px;
    }
}

.dealer-card .dealer-banner {
    border-radius: 5px 5px 0 0;
}

.dealer-card .dealer-card-content {
    display: flex;
    flex-flow: column;
    padding: 6px 12px;
}

.dealer-card .dealer-name {
    font-weight: bold;
}

.dealer-card .dealer-blurb p {
    margin: 0;
}

.dealer-card .dealer-website {
    font-style: italic;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
}

.dealer-card .dealer-card-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}