/*
 * @Author: Conghao Wong
 * @Date: 2023-03-03 16:11:49
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2023-03-03 19:48:46
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */


/* 强调色 */
.h_01 {
    font-weight: bold;
    color: rgb(0, 155, 249);
}

.h_02 {
    font-weight: bold;
    color: rgb(95, 207, 66);
}

.h_03 {
    font-weight: bold;
    color: rgb(252, 162, 47);
}

.hf_01 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 155, 249);
    border-style: solid;
    border-color: rgb(0, 155, 249);
    border-radius: 8px;
    border-width: 5px;
}

.hf_02 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 207, 66);
    border-style: solid;
    border-color: rgb(95, 207, 66);
    border-radius: 8px;
    border-width: 5px;
}

.hf_03 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 162, 47);
    border-style: solid;
    border-color: rgb(252, 162, 47);
    border-radius: 8px;
    border-width: 5px;
}

.title_big {
    font-weight:bolder;
    color: #0085A1;
}

/* 简历页面照片栏 */
.cv_image {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 30px;
    vertical-align: top;
}
