/*
 * @Author: Conghao Wong
 * @Date: 2023-03-03 16:11:49
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2023-03-11 18:32:33
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */


/* 强调色 */
.h_01 {
    font-weight: bold;
    color: rgb(0, 155, 249);
}

.h_02 {
    font-weight: bold;
    color: rgb(95, 207, 66);
}

.h_03 {
    font-weight: bold;
    color: rgb(252, 162, 47);
}

.hf_01 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 155, 249);
    border-style: solid;
    border-color: rgb(0, 155, 249);
    border-radius: 8px;
    border-width: 5px;
}

.hf_02 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 207, 66);
    border-style: solid;
    border-color: rgb(95, 207, 66);
    border-radius: 8px;
    border-width: 5px;
}

.hf_03 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 162, 47);
    border-style: solid;
    border-color: rgb(252, 162, 47);
    border-radius: 8px;
    border-width: 5px;
}

.title_big {
    font-weight:bolder;
    color: #0085A1;
}

/* 简历页面照片栏 */
.cv_image {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 30px;
    vertical-align: top;
}

/* 团队成员介绍表格 */
.team_table {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 20px 6.6%;
    text-align: center;
}

.btn_selected {
    /* width: 50%; */
    color: rgb(255, 255, 255);
    /* background-color: rgb(31 152 173); */
    font-weight: bold;
    background-color: rgb(0, 155, 249);
    border-color: rgb(0, 155, 249);
    border: 5px;
}

.btn_selected:hover {
    background-color: rgb(83, 175, 255);
    border-color: rgb(83, 175, 255);
    border: 5px;
}

.btn_dark {
    /* width: 22%; */
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    border: 0;
}

.btn_dark:hover {
    background-color: rgb(83, 175, 255);
    border-color: rgb(83, 175, 255);
    border: 5px;
}

.t_grid_auto {
    margin-bottom: 5px;
}
