---
layout: default
title: People
subtitle: People in Liu Lab
permalink: /people
---
<h1>People</h1>
<h3>Current lab members</h3>

    <h4>Principle Investigator</h4>
        <ul>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <p>
                                <img src="/img/people/zexian_zeng.png" width="240" height="240">
                            </p>
                        </div>
                        <div class="col-lg-9">
                            <p>Zexian Zeng received Ph.D. in Biomedical Informatics from Northwestern University in 2019. He has been a postdoc fellow with the Department of Data Science and Biostastics at the Dana-Farber Cancer Institute and Harvard T.H. Chan School of Public Health until 2022. 
            Zexian joined Peking University in 2022 and is affliated with Center for Quantitative Biology (CQB) and Peking-Tsinghua Center for Life Science (CLS). 
            Zexian is a computational biologist with expertise in cancer immunology and cancer genomics.
            His work mainly focuses on data integration modeling and machine learning algorithm design for translational cancer research. 
                            </p>
                        </div>
                        <li><a href="/people/zexian_zeng">Zexian Zeng, PhD</a>&nbsp;(Principle Investigator)</li>
                    </div>

                </div>
            </div>
            
        </ul>

    <h4>Staff</h4>
        <ul>
            {% for people in site.people %}
            {% if people.status == "Staff" %}
            <li><a href="{{people.permalink}}">{{people.pname}}</a>&nbsp;({{people.position}})</li>
            {% endif %}
            {% endfor %}
        </ul>
