
.icon-search:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-headphones:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-cloud:before { content: '\e80b'; } /* '' */
.icon-flight:before { content: '\e80c'; } /* '' */
.icon-chart-bar:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */