<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8863196630881203"
            crossorigin="anonymous"></script>
        <!-- 작은 배너 광고 -->
        <ins class="adsbygoogle"
            style="display:inline-block;text-align:center;width:1000px;height:90px;"
            data-ad-client="ca-pub-8863196630881203"
            data-ad-slot="3831625102"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
<!--        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8863196630881203"-->
<!--            crossorigin="anonymous"></script>-->
<!--        <!-- 작은 배너 광고 -->
<!--        <ins class="adsbygoogle"-->
<!--            style="display:block"-->
<!--            data-ad-client="ca-pub-8863196630881203"-->
<!--            data-ad-slot="3831625102"-->
<!--            data-ad-format="auto"-->
<!--            data-full-width-responsive="true"></ins>-->
<!--        <script>-->
<!--            (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--        </script>-->
        
<!--      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--      <ins class="adsbygoogle"-->
<!--           style="display:block; text-align:center;"-->
<!--           data-ad-layout="in-article"-->
<!--           data-ad-format="fluid"-->
<!--           data-ad-client="ca-pub-8863196630881203"-->
<!--           data-ad-slot="1449257397"></ins>-->
<!--      <script>-->
<!--           (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--      </script>-->
    </div>
  </div>
</div>
