---
common-css:
  - "/css/styles.css"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "//code.jquery.com/jquery-migrate-1.2.1.min.js"
  - "/js/bootstrap.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
  - "//cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
  - "//code.highcharts.com/stock/highstock.js"
  - "//code.highcharts.com/maps/modules/map.js"
  - "//code.highcharts.com/modules/data.js"
  - "//code.highcharts.com/maps/modules/map.js"
  - "/js/mapdata/jp-all.js"
  - "//www.gstatic.com/firebasejs/6.2.0/firebase-app.js"
  - "//www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"
  - "//cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
