---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}



<!-- trial of posts -->

<link rel="stylesheet", href="assets/css/thenomadwork.css">

<body>
  <div class="flex-container">
    {% for post in posts %}
      <a href="{{ post.url | absolute_url }}">
        <div class="flex-item">{{ post.title | strip_html }}</div>
      </a>
    {% endfor %}    
  </div>
</body>


{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
