---
layout: page
---

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}



<!-- trial of posts -->

<link rel="stylesheet", href="assets/css/thenomadwork.css">

<body>
  <div class="flex-container">
    {% for post in posts %}
      <a href="{{ post.url | absolute_url }}">
        <div class="flex-item">{{ post.title | strip_html }}</div>
      </a>
    {% endfor %}    

    <div class="flex-item">  is something </div>
    <div class="flex-item"> here is something more more more</div>
    <div class="flex-item"> nothing 111111111111111111111111111</div>
    <div class="flex-item"> nothing 22222222222</div>
    <div class="flex-item"> nothing 33</div>
    <div class="flex-item"> nothing 4444444444444444444</div>
    <div class="flex-item"> nothing 5555</div>
    <div class="flex-item"> nothing 6666666666666666666666666666666666</div>
    <div class="flex-item"> nothing 7777</div>
    <div class="flex-item"> nothing 8</div>
    <div class="flex-item"> nothing </div>
<!--    <div class="axis main-axis"></div>
    <div class="axis cross-axis"></div> -->
  </div>
</body>


{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
