---
layout: base
---

{% include header.html type="page" %}

<div role="main" class="container">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td>
          Image of Hotel
        </td>
        <td colspan="2">
          <h2>Introducing Our New Venue:</h2>
          <h3>Hilton Milwaukee City Center</h3>
          <p>509 W Wisconsin Ave, Milwaukee, WI 53203</p>
          <p>Phone: (414) 271-7250</p>
          <p>Website: <a href="https://www3.hilton.com/en/hotels/wisconsin/hilton-milwaukee-city-center-MKEMHHF/index.html">https://www3.hilton.com/en/hotels/wisconsin/hilton-milwaukee-city-center-MKEMHHF/index.html</a></p>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Room Rates and Booking</h3>
        </td>
        <td>
          <h3>Parking</h3>
        </td>
        <td>
          <h3>Scam Alert</h3>
        </td>
      </tr>
    </table>
  </div>
  {{ content }}
</div>
