---
layout: base
---

{% include header.html type="page" %}

<div role="main" class="container">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <td align="center">
          <img style="max-height: 450px;" src="{{ 'assets/img/2024/hilton.jpg' | relative_url }}" />
        </td>
        <td>
          <h2>Introducing Our New Venue:</h2>
          <h3>Hilton Milwaukee City Center</h3>
          <h4>509 W Wisconsin Ave, Milwaukee, WI 53203<br />
          Phone: (414) 271-7250<br />
          <a href="https://www3.hilton.com/en/hotels/wisconsin/hilton-milwaukee-city-center-MKEMHHF/index.html">Hotel Website</a></h4>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Room Rates and Booking</h2>
          <h3>$159 / Night</h3>
          <h4>Booking Link Coming Soon!</h4>
          <br />
          <h2>Parking</h2>
          <h3>$12 a Vehicle / Day</h3>
          <h3>Parking includes in and out privileges.</h3>
        </td>
        <td>
          <h2>Beware of Scammers</h2>
          <h3>Please be aware of scammers. Only reserve rooms from this site and only room with people you know and trust. If an offer sounds too good to be true, it likely is!</h3>
        </td>
      </tr>
    </table>
  </div>
  {{ content }}
</div>
