---
layout: base
---

{% include header.html type="page" %}

{% assign molly = site.members | where:"group","Molly" | first %}
{% assign membersStaff = site.members | where:"group","Staff" %}
{% assign membersGradstudents = site.members | where:"group","Grad" %}
{% assign membersAffiliate = site.members | where:"group","Affiliate" %}
{% assign membersUndergrad = site.members | where:"group","Undergrad" %}


<div class="container" role="main">
  <h1>Current Members</h1>
  <div class="row molly" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <a class="thumbnail col-lg-3 col-md-6" style="padding: 10px; margin: 5px" href="{{ molly.url }}">
      <img class="card-img-top" style="max-height: 400px;" src="{{ molly.image }}" alt="Photo of {{molly.name}}">
      <div class="caption">
        <h3>{{ molly.name }}</h3>
        <h4>{{ molly.position}}</h4>
      </div>
    </a>
  </div>
  <h2>Lab Staff:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersStaff %}
      {% if member.current %}
      <a class="thumbnail col-lg-3 col-md-6" style="padding: 10px; margin: 5px" href="{{ member.url }}">
        <img class="card-img-top" style="max-height: 400px;" src="{{ member.image }}" alt="Photo of {{member.name}}">
        <div class="caption">
          <h3>{{ member.name }}</h3>
          <h4>{{ member.position}}</h4>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  <h2>Graduate Students:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersGradstudents %}
      {% if member.current %}
      <a class="thumbnail col-lg-3 col-md-6" style="padding: 10px; margin: 5px" href="{{ member.url }}">
        <img class="card-img-top" style="max-height: 400px;" src="{{ member.image }}" alt="Photo of {{member.name}}">
        <div class="caption">
          <h3>{{ member.name }}</h3>
          <h4>{{ member.position}}</h4>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  <h2>Affiliates:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersAffiliate %}
      {% if member.current %}
      <a class="thumbnail col-lg-3 col-md-6" style="padding: 10px; margin: 5px" href="{{ member.url }}">
        <img class="card-img-top" style="max-height: 400px;" src="{{ member.image }}" alt="Photo of {{member.name}}">
        <div class="caption">
          <h3>{{ member.name }}</h3>
          <h4>{{ member.position}}</h4>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  <h2>Undergraduate Students:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersUndergrad %}
      {% if member.current %}
      <a class="thumbnail col-lg-3 col-md-6" style="padding: 10px; margin: 5px" href="{{ member.url }}">
        <img class="card-img-top" style="max-height: 400px;" src="{{ member.image }}" alt="Photo of {{member.name}}">
        <div class="card-body">
          <h3>{{ member.name }}</h3>
          <h4>{{ member.position}}</h4>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Photo Galleries -->
  <h1>Photos</h1>
  <h2>ASHG 2019</h2>
  {% include image-gallery.html folder="assets/img/photos/ashg_2019" %}
  <h2>Summer 2018</h2>
  {% include image-gallery.html folder="assets/img/photos/summer_2018" %}
</div>
