---
layout: base
---

{% include header.html type="page" %}

{% assign molly = site.members | where:"group","Molly" | first %}
{% assign membersStaff = site.members | where:"group","Staff" %}
{% assign membersGradstudents = site.members | where:"group","Grad" %}
{% assign membersAffiliate = site.members | where:"group","Affiliate" %}
{% assign membersUndergrad = site.members | where:"group","Undergrad" %}


<div class="container" role="main">
  <div class="row molly" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <a class="text-dark btn" href="{{ molly.url }}">
      <div class="card text-center border-dark" style="width: 18rem;">
        <img src="{{ molly.image }}" class="card-img-top" alt="Photo of {{molly.name}}">
        <div class="card-body text-white bg-dark">
          <h5 class="card-title">{{ molly.name }}</h5>
          <p class="card-text mt-1">{{ molly.position}}</p>
        </div>
      </div>
    </a>
  </div>
  <h2>Lab Staff:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersStaff %}
      {% if member.current %}
      <a class="text-dark btn" href="{{ member.url }}">
        <div class="card h-100 text-center border-dark" style="width: 18rem;">
          <img src="{{ member.image }}" class="card-img-top" alt="Photo of {{member.name}}">
          <div class="card-body text-white bg-dark">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text mt-1">{{ member.position}}</p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  <h2>Graduate Students:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersGradstudents %}
      {% if member.current %}
      <a class="text-dark btn" href="{{ member.url }}">
        <div class="card h-100 text-center border-dark" style="width: 18rem;">
          <img src="{{ member.image }}" class="card-img-top" alt="Photo of {{member.name}}">
          <div class="card-body text-white bg-dark">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text mt-1">{{ member.position}}</p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  <h2>Affiliates:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersAffiliate %}
      {% if member.current %}
      <a class="text-dark btn" href="{{ member.url }}">
        <div class="card h-100 text-center border-dark" style="width: 18rem;">
          <img src="{{ member.image }}" class="card-img-top" alt="Photo of {{member.name}}">
          <div class="card-body text-white bg-dark">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text mt-1">{{ member.position}}</p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>
  <h2>Undergraduate Students:</h2>
  <div class="row grad" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for member in membersUndergrad %}
      {% if member.current %}
      <a class="text-dark btn" href="{{ member.url }}">
        <div class="card h-100 text-center border-dark" style="width: 18rem;">
          <img src="{{ member.image }}" class="card-img-top" alt="Photo of {{member.name}}">
          <div class="card-body text-white bg-dark">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text mt-1">{{ member.position}}</p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Todo: Add a former members section (where member.current is false) -->

  <!-- Photo Galleries -->
  <h1>Photos</h1>
  <h2>Summer 2020</h2>
  {% include image-gallery.html folder="assets/img/photos/summer_2020" %}
  <h2>ASHG 2019</h2>
  {% include image-gallery.html folder="assets/img/photos/ashg_2019" %}
  <h2>Summer 2018</h2>
  {% include image-gallery.html folder="assets/img/photos/summer_2018" %}
</div>
