---
layout: base
---

{% include header.html type="page" %}

{% assign newsByYear = site.news | group_by_exp: "newspost", "newspost.date | date: '%Y'" | sort: "name" | reverse %}

<div class="container" role="main">
  {% for year in newsByYear %}
    <h3 class="mt-4" style="text-align:center;">{{ year.name }}</h3>
    {% assign newsSorted = year.items | sort: "date" | reverse %}
    <div class="row justify-content-center">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="list-group">
          {% for news in newsSorted %}
            <div class="list-group-item list-group-item-action">
              <small class="text-muted">{{ news.date | date: '%B %d, %Y' }}</small>
              {% if news.img %}<img class="card-img-top" src={{news.img}} alt="News Image">{% endif %}
              <div style="margin: -1rem 0rem">{{ news.content | markdownify }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
