---
layout: base
---

{% include header.html type="page" %}

{% assign newsByYear = site.news | group_by_exp: "newspost", "newspost.date | date: '%Y'" %}

<div class="container" role="main">
  {% for year in newsByYear %}
    <h3 style="text-align:center;">{{ year.name }}</h3>
    {% assign newsSorted = year.items | sort: "date" %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for news in newsSorted %}
          <div class="panel panel-info">
            {% if news.img %}<img src={{news.img}} alt="News Image">{% endif %}
            <div class="panel-body">
              {{ news.content }}
            </div>
            <div class="panel-footer" style="text-align:right;">
              <i>{{ news.date | date: '%B %d, %Y' }}</i>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
