---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">

      {% for position in site.positions %}
        <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;">
          <div class="card">
            <h2 class="card-title">{{ position.title }}</h2>
            <div class="card-body">
              {{ position.content | markdownify }}
            </div>
            <div class="card-footer text-muted" style="text-align:right;">
              <i>{{ position.date | date: '%B %d, %Y' }}</i>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>