---
layout: page

# fixme this is an ugly solution. just a copy and paste from base. we should be able
# to merge the two
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
  - "/js/project.js"
---


<link rel="stylesheet" href="/css/project.css">


<!-- <div class="project-gallery">
  <div class="project-gallery__arrow project-gallery__arrow--left">
      <div class="project-gallery__arrow-icon project-gallery__arrow-icon--left"></div>
  </div>

  {% for image in page.images %}
    <img src="{{ image.path }}" alt="{{ image.title }}" class="project-gallery__image" data-img-index="{{ forloop.index }}"/>
  {% endfor %}

  <div class="project-gallery__arrow project-gallery__arrow--right">
    <div class="project-gallery__arrow-icon project-gallery__arrow-icon--right"></div>
  </div>
</div> -->

<div>{{ content }}</div>





{% if page.social-share %}
  {% include social-share.html %}
{% endif %}

<ul class="pager blog-pager">
  {% if page.previous.url %}
  <li class="previous">
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
  </li>
  {% endif %}
  {% if page.next.url %}
  <li class="next">
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
  </li>
  {% endif %}
</ul>

{% if page.comments %}
  <div class="disqus-comments">
    {% include disqus.html %}
  </div>
{% endif %}
