---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="list-group">
      {% assign publicationsSorted = site.publications | sort: "article_authors" | sort: "article_year" | reverse %}
      {% for publication in publicationsSorted %}
        <div class="list-group">
          <a href="{{ publication.article_url }}" class="list-group-item list-group-item-action">
              {{ publication.article_authors }} <b>({{ publication.article_year }})</b></br>
              {{ publication.article_title }}</br>
              <i>{{publication.article_journal}}</i>
              {%- if publication.article_volume %}{{publication.article_volume | prepend: ": " | strip}}{% endif -%}
              {%- if publication.article_pages %}{{publication.article_pages | prepend: ", "}}{% endif -%}
          </a>
        </div>
      {% endfor %}
      </div> 
    </div>
  </div>
</div>
