---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">

  <!-- Mission -->
  <img src="/assets/img/mission_slide.jpg", alt="Hall Lab Mission">
  <h2>Mission</h2>
  <p>
  The Hall Lab is focused on building computational tools to elucidate the complex genetic and environmental underpinnings of human traits. We integrate genetic (genotype, sequence, structural variation) and exposure (derived from surveys and metabolomics methods) big data to predict disease status. The ultimate goals of this work are to 1) enrich our understanding of the complex mechanisms that lead to common disease and 2) provide methods to identify those most at risk of developing disease (based on their genetic and exposure backgrounds) in a clinical setting.
  </p>

  <!-- Topics -->
  <h2>Research Topics</h2>
  {% for topic in site.research_topics %}
  <div class="card bg-light mb-3">
    <div class="card-header">
      <h3 style="color: {{ topic.color }};">{{ topic.title }}</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{ topic.content | markdownify }}</p>
    </div>
  </div>
  {% endfor %}

</div>