---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">

  <!-- Mission -->
  <img src="/assets/img/mission_slide.jpg", alt="Hall Lab Mission">

  <!-- Topics -->
  {% for topic in site.research_topics %}
  <div class="card bg-light mb-3">
    <div class="card-header" style="background-color: {{ topic.color }};">
      <h3 class="text-white mb-0">{{ topic.title }}</h3>
    </div>
    <div class="card-body py-0">
      <p class="card-text">{{ topic.content | markdownify }}</p>
      <!-- Projects related to this topic -->
      {% assign topicProjects = site.projects | where:"area",topic.title %}
      <div class="card-deck mb-3">
        {% for project in topicProjects %}
          <div class="card">
            <a class="btn" href="{{ project.url }}">
            <div class="card-body text-white text-center" style="background-color: {{ topic.color }};">
              <h5 class="card-title">{{project.title}}</h5>
            </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>