---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1">

      <!-- Mission -->
      <img class="mx-auto d-block w-75" src="/assets/img/mission_slide.jpg", alt="Hall Lab Mission">

      <!-- Topics -->
      {% for topic in site.research_topics %}
      <div class="card bg-light mb-3">
        <div class="card-header" style="background-color: {{ topic.color }};">
          <h3 class="text-white mb-0 mt-0">{{ topic.title }}</h3>
        </div>
        <div class="card-body py-0">
          <p class="card-text">{{ topic.content | markdownify }}</p>
          <!-- Projects related to this topic -->
          {% assign topicProjects = site.projects | where:"area",topic.title %}
          <!-- Skip if there aren't any -->
          {% if topicProjects.size > 0 %}
          <div class="container">
            <div class="row justify-content-center">
              <h4>Related Projects:</h3>
            </div>
            <div class="row justify-content-center">
            {% for project in topicProjects %}
            <a type="button" class="btn btn-lg text-white m-3" style="background-color: {{ topic.color }};" href="{{ project.url }}">
              {{project.title}}
            </a>
            {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>