<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8863196630881203" crossorigin="anonymous"></script>
      <!-- Scripter -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8863196630881203"
           data-ad-slot="5780829116"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
        
    </div>
  </div>
</div>
